<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="AWSAccessKey" value="AKIAJ4FEEKD3KIPZASTQ"/>
    <add key="AWSSecretKey" value="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"/>
  </appSettings>
  <system.windows.forms jitDebugging="true" />
</configuration>
